stages:
  - test
  - report

variables:
  RECORD_VIDEO: "on_failure"
  TAKE_SCREENSHOT: "true"
  DOCKER_HOST: unix:///var/run/docker.sock
  BROWSER: "chrome"

run_tests:
  stage: test
  # Etiketini kayıt ederken ne verdiysen o olmalı (GitLab arayüzünden kontrol et)
  # Eğer tag vermediysen bu satırı silebilirsin.
  tags: 
    - mac-m3-runner 
  image: docker/compose:latest
  
  script:
    - docker-compose down --remove-orphans || true
    - docker rm -f selenoid selenoid-ui pytest-test-runner || true
    - mkdir -p videos allure-results logs
    - chmod -R 777 videos allure-results logs
    - docker pull selenoid/video-recorder:latest-release
    - docker-compose up --build --exit-code-from pytest-tests

  after_script:
    - docker-compose down

  artifacts:
    when: always
    paths:
      - allure-results/
      - videos/
    expire_in: 3 days

generate_report:
  stage: report
  image: frankescobar/allure-docker-service
  tags:
    - mac-m3-runner
  script:
     - allure generate -c allure-results -o allure-report
  artifacts:
    paths:
      - allure-report/
    expire_in: 1 week
  needs:
    - run_tests
  when: always