stages:
  - test
  - report

variables:
  RECORD_VIDEO: "on_failure"
  TAKE_SCREENSHOT: "true"
  BROWSER: "chrome"
  # GitLab'den gelen değişkenleri eşliyoruz
  ARANGO_DB_NAME: $ARANGO_DB_NAME
  ARANGO_USER: $ARANGO_USER
  ARANGO_PASSWORD: $ARANGO_PASSWORD

run_tests:
  stage: test
  tags:
    - mac-m3-runner
  
  script:
    # 1. Temizlik (Sadece test konteynerlerini sil)
    - docker-compose down --remove-orphans || true
    - docker rm -f selenoid selenoid-ui pytest-test-runner || true
    # Selenoid artıklarını temizle
    - docker rm -f $(docker ps -a -q --filter ancestor=selenoid/video-recorder:latest-release) || true
    
    # 2. İmajları Hazırla
    - docker pull selenoid/video-recorder:latest-release
    - docker pull seleniarm/standalone-chromium:latest
    - docker pull seleniarm/standalone-firefox:latest
    
    # 3. Ağı Yönet (Yoksa oluştur, varsa geç)
    - docker network create automation-network || true
    
    # 4. ArangoDB'yi bu ağa bağla (Zaten bağlıysa hata verir, || true ile geçeriz)
    - docker network connect automation-network arangoDB || true
    
    # 5. Hazırlık
    - mkdir -p videos allure-results logs
    - chmod -R 777 videos allure-results logs
    
    # 6. Başlat
    - docker-compose up --build --exit-code-from pytest-tests

  after_script:
    - docker-compose down

  artifacts:
    when: always
    paths:
      - allure-results/
      - videos/
    expire_in: 3 days

generate_report:
  stage: report
  image: frankescobar/allure-docker-service
  tags:
    - mac-m3-runner
  script:
     - allure generate -c allure-results -o allure-report
  artifacts:
    paths:
      - allure-report/
    expire_in: 1 week
  needs:
    - run_tests
  when: always