stages:
  - test
  - report

variables:
  RECORD_VIDEO: "on_failure"
  TAKE_SCREENSHOT: "true"
  BROWSER: "chrome"
  ARANGO_DB_NAME: $ARANGO_DB_NAME
  ARANGO_USER: $ARANGO_USER
  ARANGO_PASSWORD: $ARANGO_PASSWORD

run_tests:
  stage: test
  tags:
    - mac-m3-runner
  
  script:
    # 1. Sadece Kendi Konteynerlerini Temizle
    - docker-compose down --remove-orphans || true
    - docker rm -f selenoid selenoid-ui pytest-test-runner || true
    
    # 2. İmajları İndir (M3 Hatası almamak için)
    - docker pull selenoid/video-recorder:latest-release
    - docker pull seleniarm/standalone-chromium:latest
    - docker pull seleniarm/standalone-firefox:latest
    
    # 3. Başlat (Otomatik olarak 'automation-network' kurulacak)
    - docker-compose up --build --exit-code-from pytest-tests

  after_script:
    - docker-compose down

  artifacts:
    when: always
    paths:
      - allure-results/
      - videos/
    expire_in: 3 days

generate_report:
  stage: report
  image: frankescobar/allure-docker-service
  tags:
    - mac-m3-runner
  script:
     - allure generate -c allure-results -o allure-report
  artifacts:
    paths:
      - allure-report/
    expire_in: 1 week
  needs:
    - run_tests
  when: always