version: '3.8'

services:
  # 1. TEST KOŞUCUSU
  pytest-tests:
    build: .
    container_name: pytest-test-runner
    environment:
      # Konteyner ismiyle erişim (Aynı ağdalar)
      - ARANGO_URL=http://arangoDB:8529
      
      # GitLab Değişkenleri
      - ARANGO_DB_NAME=${ARANGO_DB_NAME}
      - ARANGO_USER=${ARANGO_USER}
      - ARANGO_PASSWORD=${ARANGO_PASSWORD}
      
      - SELENIUM_REMOTE_URL=http://selenoid:4444/wd/hub
      - BROWSER=${BROWSER}
      - RECORD_VIDEO=${RECORD_VIDEO}
      - TAKE_SCREENSHOT=${TAKE_SCREENSHOT}
      - DOCKER_ENV=true 
      - BASE_URL=https://www.saucedemo.com
    
    # Mac köprüsü (Dursun, zararı yok)
    extra_hosts:
      - "host.docker.internal:host-gateway"
      
    volumes:
      - ./allure-results:/app/allure-results
      - ./logs:/app/logs
    
    depends_on:
      - selenoid
    
    # --- İŞTE ÇÖZÜM BURASI ---
    # Pytest başlamadan önce arangoDB:8529 adresine ping atıyoruz.
    # Python scripti bağlantı kurana kadar (until) döngüde bekler.
    # Bağlantı kurulduğu AN, pytest başlar ve test_data.py doğru veriyi çeker.
    command: >
      sh -c "
        echo 'ArangoDB (http://arangoDB:8529) bağlantısı bekleniyor...'
        until python -c 'import socket; s=socket.socket(); s.settimeout(1); s.connect((\"arangoDB\", 8529)); s.close();' 2>/dev/null; do
          echo 'DB henüz hazır değil, bekleniyor...'
          sleep 1
        done
        echo 'DB BAĞLANTISI KURULDU! Testler başlatılıyor...'
        pytest -n 4 --dist=loadscope --alluredir=allure-results --clean-alluredir
      "

    networks:
      - test-network

  # 2. SELENOID
  selenoid:
    image: aerokube/selenoid:latest-release
    container_name: selenoid
    volumes:
      - ./config:/etc/selenoid
      - /var/run/docker.sock:/var/run/docker.sock
      - ./videos:/opt/selenoid/video
      - ./logs:/opt/selenoid/logs
    environment:
      - OVERRIDE_VIDEO_OUTPUT_DIR=${PWD}/videos
    command: ["-conf", "/etc/selenoid/browsers.json", "-video-output-dir", "/opt/selenoid/video", "-video-recorder-image", "selenoid/video-recorder:latest-release", "-limit", "10", "-container-network", "test-network", "-service-startup-timeout", "2m"]
    ports:
      - "4444:4444"
    networks:
      - test-network

  # 3. SELENOID UI
  selenoid-ui:
    image: aerokube/selenoid-ui:latest-release
    container_name: selenoid-ui
    depends_on:
      - selenoid
    ports:
      - "8080:8080"
    command: ["--selenoid-uri", "http://selenoid:4444", "--period", "2s"]
    networks:
      - test-network

# Ağ Ayarı
networks:
  test-network:
    name: test-network
    external: true