services:
  # 1. TEST KOŞUCUSU
  pytest-tests:
    build: .
    container_name: pytest-test-runner
    environment:
      - ARANGO_URL=http://arangoDB:8529
      # Selenoid servisine yönlendirildi
      - SELENIUM_REMOTE_URL=http://selenoid:4444/wd/hub
      - BROWSER=${BROWSER:-chrome}
      - DOCKER_ENV=true 
      - BASE_URL=https://www.saucedemo.com
    volumes:
      - ./allure-results:/app/allure-results
      - ./logs:/app/logs
    depends_on:
      selenoid:
        condition: service_started
    networks:
      - shared-network

  # 2. SELENOID (Grid yerine geçen servis)
  selenoid:
    image: aerokube/selenoid:latest-release
    container_name: selenoid
    volumes:
      - "./config:/etc/selenoid"  # browsers.json buradan okunur
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./video:/opt/selenoid/video" # Video kayıtları için
      - "./logs:/opt/selenoid/logs"
    environment:
      - OVERRIDE_VIDEO_OUTPUT_DIR=/opt/selenoid/video
    command: ["-conf", "/etc/selenoid/browsers.json", "-video-output-dir", "/opt/selenoid/video", "-log-output-dir", "/opt/selenoid/logs", "-container-network", "shared-network"]
    ports:
      - "4444:4444"
    networks:
      - shared-network

  # 3. SELENOID UI (Tarayıcıları canlı izlemek için)
  selenoid-ui:
    image: aerokube/selenoid-ui:latest-release
    container_name: selenoid-ui
    depends_on:
      - selenoid
    ports:
      - "8080:8080"
    command: ["--selenoid-uri", "http://selenoid:4444"]
    networks:
      - shared-network

networks:
  shared-network:
    external: true