services:
  # 1. TEST KOŞUCUSU
  pytest-tests:
    build: .
    container_name: pytest-test-runner
    environment:
      # Veritabanı Adresi
      - ARANGO_URL=http://arangoDB:8529
      
      # Selenoid/Chrome Adresi
      - SELENIUM_REMOTE_URL=http://chrome-browser:4444/wd/hub
      
      # Config Ayarları
      - DOCKER_ENV=true 
      - BASE_URL=https://www.saucedemo.com
    
    volumes:
      - ./allure-results:/app/allure-results
      - ./logs:/app/logs
    
    depends_on:
      chrome-browser:
        condition: service_healthy # Browser "Healthy" olana kadar bekle!
    
    networks:
      - shared-network

  # 2. TARAYICI (Apple Silicon Uyumlu Seleniarm)
  chrome-browser:
    image: seleniarm/standalone-chromium:latest
    container_name: pytest-chrome
    shm_size: 2gb
    ports:
      - "4444:4444"
    
    # Bu kontrol, browser'ın 4444 portunun hazır olup olmadığını denetler.
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4444/wd/hub/status"]
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 5s
    
    networks:
      - shared-network

# 3. AĞ
networks:
  shared-network:
    external: true